<launch>
  <node machine="c1" pkg="pr2_simple_arm_motions" type="gripper_tip_frame.py" name="gripper_tip_broadcaster_node" output="screen" /> 
  <node machine="c1" pkg="pr2_simple_arm_motions" type="grip_watcher.py" name="grip_watcher" output="screen"/>
	<!-- arm controllers -->
	<include file="$(find pr2_simple_arm_motions)/config/arm_controllers.launch" />
  
	<!-- Trajectory generator -->
	<node pkg="joint_trajectory_generator" type="joint_trajectory_generator" output="screen" name="joint_trajectory_generator_unwrap" ns="r_arm_demo_controller" >
		<remap from="generator_action_name" to="joint_trajectory_generator_unwrap" />
    	<param name="max_acc" value="2.0" />
    	<param name="max_vel" value="2.5" />
    	<param name="unwrap" value="true" />
  	</node>

	<node pkg="joint_trajectory_generator" type="joint_trajectory_generator" output="screen" name="joint_trajectory_generator_unwrap" ns="l_arm_demo_controller" >
		<remap from="generator_action_name" to="joint_trajectory_generator_unwrap" />
    	<param name="max_acc" value="2.0" />
    	<param name="max_vel" value="2.5" />
    	<param name="unwrap" value="true" />
  	</node>

  	<!-- ik action -->
  	<node pkg="pr2_arm_move_ik_synced" type="arm_ik" name="r_arm_ik" output="screen">
    	<rosparam command="load" file="$(find pr2_simple_arm_motions)/config/r_arm_ik.yaml"/>
  	</node>
	
	<node pkg="pr2_arm_move_ik_synced" type="arm_ik" name="l_arm_ik" output="screen">
    	<rosparam command="load" file="$(find pr2_simple_arm_motions)/config/l_arm_ik.yaml"/>
  	</node>
  	
  	
  	
  	<node pkg="pr2_simple_arm_motions" type="move_gripper.py" name="move_gripper" output="screen"/>
  	
    <!-- Joint listener -->
    <include file="$(find joint_states_listener)/launch/joint_states_listener.launch" />
</launch>
